extends ../../layouts/master

block title
    | Media Object

block extra-css

block extra-js
    script(type='text/javascript' src='/assets/plugins/bootstrap-notify/bootstrap-notify.js')

block content
    .container-fluid
        .block-header
            h2 MEDIA OBJECT
        // Default Media
        .row.clearfix
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .card
                    .header
                        h2
                            | DEFAULT MEDIA
                            small
                                | The default media displays a media object (images, video, audio) to the left or right of a content block.
                        ul.header-dropdown.m-r--5
                            li.dropdown
                                a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                                    i.material-icons more_vert
                                ul.dropdown-menu.pull-right
                                    li
                                        a(href='javascript:void(0);') Action
                                    li
                                        a(href='javascript:void(0);') Another action
                                    li
                                        a(href='javascript:void(0);') Something else here
                    .body
                        .media
                            .media-left
                                a(href='javascript:void(0);')
                                    img.media-object(src='http://placehold.it/64x64' width='64' height='64')
                            .media-body
                                h4.media-heading Media heading
                                |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                |  ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                |  turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis
                                |  in faucibus.
                        .media
                            .media-left
                                a(href='#')
                                    img.media-object(src='http://placehold.it/64x64' width='64' height='64')
                            .media-body
                                h4.media-heading Media heading
                                |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                |                             ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                |                             turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis
                                |                             in faucibus.
                                .media
                                    .media-left
                                        a(href='#')
                                            img.media-object(src='http://placehold.it/64x64' width='64' height='64')
                                    .media-body
                                        h4.media-heading Nested media heading
                                        |  Cras sit amet nibh libero, in gravida nulla. Nulla
                                        |  vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum
                                        |  in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                                        |  fringilla. Donec lacinia congue felis in faucibus.
                        .media
                            .media-body
                                h4.media-heading Media heading
                                |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                |                             ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                |                             turpis.
                            .media-right
                                a(href='#')
                                    img.media-object(src='http://placehold.it/64x64' width='64' height='64')
                        .media
                            .media-left
                                a(href='#')
                                    img.media-object(src='http://placehold.it/64x64' width='64' height='64')
                            .media-body
                                h4.media-heading Media heading
                                |  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                |                             ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                |                             turpis.
                            .media-right
                                a(href='#')
                                    img.media-object(src='http://placehold.it/64x64' width='64' height='64')
        // #END# Default Media
        // Media Alignment
        .row.clearfix
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .card
                    .header
                        h2
                            | MEDIA ALIGNMENT
                            small
                                | The images or other media can be aligned top, middle, or bottom. The default is top aligned.
                        ul.header-dropdown.m-r--5
                            li.dropdown
                                a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                                    i.material-icons more_vert
                                ul.dropdown-menu.pull-right
                                    li
                                        a(href='javascript:void(0);') Action
                                    li
                                        a(href='javascript:void(0);') Another action
                                    li
                                        a(href='javascript:void(0);') Something else here
                    .body
                        .bs-example(data-example-id='media-alignment')
                            .media
                                .media-left
                                    a(href='javascript:void(0);')
                                        img.media-object(src='http://placehold.it/64x64' width='64' height='64')
                                .media-body
                                    h4.media-heading Top aligned media
                                    p
                                        | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin
                                        | commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                        | Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis
                                        | in faucibus.
                                    p
                                        | Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis
                                        | natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                            .media
                                .media-left.media-middle
                                    a(href='javascript:void(0);')
                                        img.media-object(src='http://placehold.it/64x64' width='64' height='64')
                                .media-body
                                    h4.media-heading Middle aligned media
                                    p
                                        | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin
                                        | commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                        | Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis
                                        | in faucibus.
                                    p
                                        | Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis
                                        | natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                            .media
                                .media-left.media-bottom
                                    a(href='javascript:void(0);')
                                        img.media-object(src='http://placehold.it/64x64' width='64' height='64')
                                .media-body
                                    h4.media-heading Bottom aligned media
                                    p
                                        | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin
                                        | commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                        | Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis
                                        | in faucibus.
                                    p
                                        | Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis
                                        | natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        // #END# Media Alignment