extends ../../layouts/master

block title
    | Preloaders

block extra-css

block extra-js

block content
    .container-fluid
        .block-header
            h2 PRELOADERS
        // Different Sizes
        .row.clearfix
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .card
                    .header
                        h2
                            | PRELOADERS - DIFFERENT SIZES
                        ul.header-dropdown.m-r--5
                            li.dropdown
                                a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                                    i.material-icons more_vert
                                ul.dropdown-menu.pull-right
                                    li
                                        a(href='javascript:void(0);') Action
                                    li
                                        a(href='javascript:void(0);') Another action
                                    li
                                        a(href='javascript:void(0);') Something else here
                    .body
                        .demo-preloader
                            .preloader.pl-size-xl
                                .spinner-layer
                                    .circle-clipper.left
                                        .circle
                                    .circle-clipper.right
                                        .circle
                            .preloader.pl-size-l
                                .spinner-layer.pl-orange
                                    .circle-clipper.left
                                        .circle
                                    .circle-clipper.right
                                        .circle
                            .preloader
                                .spinner-layer.pl-teal
                                    .circle-clipper.left
                                        .circle
                                    .circle-clipper.right
                                        .circle
                            .preloader.pl-size-sm
                                .spinner-layer.pl-purple
                                    .circle-clipper.left
                                        .circle
                                    .circle-clipper.right
                                        .circle
                            .preloader.pl-size-xs
                                .spinner-layer.pl-red-grey
                                    .circle-clipper.left
                                        .circle
                                    .circle-clipper.right
                                        .circle
        // #END# Different Sizes
        // With Material Design Colors
        .row.clearfix
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .card
                    .header
                        h2
                            | WITH MATERIAL DESIGN COLORS
                            small
                                | You can use the material design colors which examples are&nbsp;
                                code .pl-red, .pl-pink
                                |  class.
                        ul.header-dropdown.m-r--5
                            li.dropdown
                                a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                                    i.material-icons more_vert
                                ul.dropdown-menu.pull-right
                                    li
                                        a(href='javascript:void(0);') Action
                                    li
                                        a(href='javascript:void(0);') Another action
                                    li
                                        a(href='javascript:void(0);') Something else here
                    .body
                        .demo-preloader
                            .preloader
                                .spinner-layer.pl-red
                                    .circle-clipper.left
                                        .circle
                                    .circle-clipper.right
                                        .circle
                            .preloader
                                .spinner-layer.pl-pink
                                    .circle-clipper.left
                                        .circle
                                    .circle-clipper.right
                                        .circle
                            .preloader
                                .spinner-layer.pl-purple
                                    .circle-clipper.left
                                        .circle
                                    .circle-clipper.right
                                        .circle
                            .preloader
                                .spinner-layer.pl-deep-purple
                                    .circle-clipper.left
                                        .circle
                                    .circle-clipper.right
                                        .circle
                            .preloader
                                .spinner-layer.pl-indigo
                                    .circle-clipper.left
                                        .circle
                                    .circle-clipper.right
                                        .circle
                            .preloader
                                .spinner-layer.pl-red
                                    .circle-clipper.left
                                        .circle
                                    .circle-clipper.right
                                        .circle
                            .preloader
                                .spinner-layer.pl-light-blue
                                    .circle-clipper.left
                                        .circle
                                    .circle-clipper.right
                                        .circle
                            .preloader
                                .spinner-layer.pl-cyan
                                    .circle-clipper.left
                                        .circle
                                    .circle-clipper.right
                                        .circle
                            .preloader
                                .spinner-layer.pl-teal
                                    .circle-clipper.left
                                        .circle
                                    .circle-clipper.right
                                        .circle
                            .preloader
                                .spinner-layer.pl-green
                                    .circle-clipper.left
                                        .circle
                                    .circle-clipper.right
                                        .circle
                            .preloader
                                .spinner-layer.pl-light-green
                                    .circle-clipper.left
                                        .circle
                                    .circle-clipper.right
                                        .circle
                            .preloader
                                .spinner-layer.pl-lime
                                    .circle-clipper.left
                                        .circle
                                    .circle-clipper.right
                                        .circle
                            .preloader
                                .spinner-layer.pl-yellow
                                    .circle-clipper.left
                                        .circle
                                    .circle-clipper.right
                                        .circle
                            .preloader
                                .spinner-layer.pl-amber
                                    .circle-clipper.left
                                        .circle
                                    .circle-clipper.right
                                        .circle
                            .preloader
                                .spinner-layer.pl-orange
                                    .circle-clipper.left
                                        .circle
                                    .circle-clipper.right
                                        .circle
                            .preloader
                                .spinner-layer.pl-deep-orange
                                    .circle-clipper.left
                                        .circle
                                    .circle-clipper.right
                                        .circle
                            .preloader
                                .spinner-layer.pl-brown
                                    .circle-clipper.left
                                        .circle
                                    .circle-clipper.right
                                        .circle
                            .preloader
                                .spinner-layer.pl-grey
                                    .circle-clipper.left
                                        .circle
                                    .circle-clipper.right
                                        .circle
                            .preloader
                                .spinner-layer.pl-red-grey
                                    .circle-clipper.left
                                        .circle
                                    .circle-clipper.right
                                        .circle
                            .preloader
                                .spinner-layer.pl-black
                                    .circle-clipper.left
                                        .circle
                                    .circle-clipper.right
                                        .circle
        // With Material Design Colors