extends ../../layouts/master

block title
    | Dialogs

block extra-css

block extra-js

block content
    .container-fluid
        .block-header
            h2
                | WAVES
                small
                    | Click effect inspired by Google&apos;s Material Design. Taken by&nbsp;
                    a(href='http://fian.my.id/Waves/' target='_blank') fian.my.id/Waves
        .row.clearfix
            // Color Variations
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
                .card
                    .header
                        h2
                            | COLOR VARIATIONS
                        ul.header-dropdown.m-r--5
                            li.dropdown
                                a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                                    i.material-icons more_vert
                                ul.dropdown-menu.pull-right
                                    li
                                        a(href='javascript:void(0);') Action
                                    li
                                        a(href='javascript:void(0);') Another action
                                    li
                                        a(href='javascript:void(0);') Something else here
                    .body
                        ul.list-group
                            li.list-group-item.clearfix
                                | Default
                                a.btn.btn-default.waves-effect.pull-right(href='javascript:void(0);') CLICK ME
                            li.list-group-item.clearfix
                                code waves-light
                                a.btn.bg-blue.waves-effect.waves-light.pull-right(href='javascript:void(0);') CLICK ME
                            li.list-group-item.clearfix
                                code waves-red
                                a.btn.btn-default.waves-effect.waves-red.pull-right(href='javascript:void(0);') CLICK ME
                            li.list-group-item.clearfix
                                code waves-pink
                                a.btn.btn-default.waves-effect.waves-pink.pull-right(href='javascript:void(0);') CLICK ME
                            li.list-group-item.clearfix
                                code waves-purple
                                a.btn.btn-default.waves-effect.waves-purple.pull-right(href='javascript:void(0);') CLICK ME
                            li.list-group-item.clearfix
                                code waves-deep-purple
                                a.btn.btn-default.waves-effect.waves-deep-purple.pull-right(href='javascript:void(0);') CLICK ME
                            li.list-group-item.clearfix
                                code waves-indigo
                                a.btn.btn-default.waves-effect.waves-indigo.pull-right(href='javascript:void(0);') CLICK ME
                            li.list-group-item.clearfix
                                code waves-blue
                                a.btn.btn-default.waves-effect.waves-blue.pull-right(href='javascript:void(0);') CLICK ME
                            li.list-group-item.clearfix
                                code waves-light-blue
                                a.btn.btn-default.waves-effect.waves-light-blue.pull-right(href='javascript:void(0);') CLICK ME
                            li.list-group-item.clearfix
                                code waves-cyan
                                a.btn.btn-default.waves-effect.waves-cyan.pull-right(href='javascript:void(0);') CLICK ME
                            li.list-group-item.clearfix
                                code waves-teal
                                a.btn.btn-default.waves-effect.waves-teal.pull-right(href='javascript:void(0);') CLICK ME
                            li.list-group-item.clearfix
                                code waves-green
                                a.btn.btn-default.waves-effect.waves-green.pull-right(href='javascript:void(0);') CLICK ME
                            li.list-group-item.clearfix
                                code waves-light-green
                                a.btn.btn-default.waves-effect.waves-light-green.pull-right(href='javascript:void(0);') CLICK ME
                            li.list-group-item.clearfix
                                code waves-lime
                                a.btn.btn-default.waves-effect.waves-lime.pull-right(href='javascript:void(0);') CLICK ME
                            li.list-group-item.clearfix
                                code waves-yellow
                                a.btn.btn-default.waves-effect.waves-yellow.pull-right(href='javascript:void(0);') CLICK ME
                            li.list-group-item.clearfix
                                code waves-amber
                                a.btn.btn-default.waves-effect.waves-amber.pull-right(href='javascript:void(0);') CLICK ME
                            li.list-group-item.clearfix
                                code waves-orange
                                a.btn.btn-default.waves-effect.waves-orange.pull-right(href='javascript:void(0);') CLICK ME
                            li.list-group-item.clearfix
                                code waves-deep-orange
                                a.btn.btn-default.waves-effect.waves-deep-orange.pull-right(href='javascript:void(0);') CLICK ME
                            li.list-group-item.clearfix
                                code waves-brown
                                a.btn.btn-default.waves-effect.waves-brown.pull-right(href='javascript:void(0);') CLICK ME
                            li.list-group-item.clearfix
                                code waves-grey
                                a.btn.btn-default.waves-effect.waves-grey.pull-right(href='javascript:void(0);') CLICK ME
                            li.list-group-item.clearfix
                                code waves-blue-grey
                                a.btn.btn-default.waves-effect.waves-blue-grey.pull-right(href='javascript:void(0);') CLICK ME
                            li.list-group-item.clearfix
                                code waves-black
                                a.btn.btn-default.waves-effect.waves-black.pull-right(href='javascript:void(0);') CLICK ME
            // #END# Color Variations
            // Circle
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
                .card
                    .header
                        h2
                            | CIRCLE
                        ul.header-dropdown.m-r--5
                            li.dropdown
                                a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                                    i.material-icons more_vert
                                ul.dropdown-menu.pull-right
                                    li
                                        a(href='javascript:void(0);') Action
                                    li
                                        a(href='javascript:void(0);') Another action
                                    li
                                        a(href='javascript:void(0);') Something else here
                    .body
                        ul.list-group
                            li.list-group-item.clearfix
                                | Default
                                button.btn.btn-default.btn-circle.waves-effect.waves-circle.waves-float.pull-right(type='button')
                                    i.material-icons report_problem
                            li.list-group-item.clearfix
                                code waves-light
                                button.btn.bg-blue.btn-circle.waves-effect.waves-circle.waves-light.waves-float.pull-right(type='button')
                                    i.material-icons verified_user
                            li.list-group-item.clearfix
                                code waves-red
                                button.btn.btn-default.btn-circle.waves-effect.waves-red.waves-circle.waves-float.pull-right(type='button')
                                    i.material-icons extension
                            li.list-group-item.clearfix
                                code waves-pink
                                button.btn.btn-default.btn-circle.waves-effect.waves-pink.waves-circle.waves-float.pull-right(type='button')
                                    i.material-icons lock
                            li.list-group-item.clearfix
                                code waves-purple
                                button.btn.btn-default.btn-circle.waves-effect.waves-purple.waves-circle.waves-float.pull-right(type='button')
                                    i.material-icons perm_scan_wifi
                            li.list-group-item.clearfix
                                code waves-deep-purple
                                button.btn.btn-default.btn-circle.waves-effect.waves-deep-purple.waves-circle.waves-float.pull-right(type='button')
                                    i.material-icons flight_takeoff
                            li.list-group-item.clearfix
                                code waves-indigo
                                button.btn.btn-default.btn-circle.waves-effect.waves-indigo.waves-circle.waves-float.pull-right(type='button')
                                    i.material-icons print
                            li.list-group-item.clearfix
                                code waves-blue
                                button.btn.btn-default.btn-circle.waves-effect.waves-blue.waves-circle.waves-float.pull-right(type='button')
                                    i.material-icons search
                            li.list-group-item.clearfix
                                code waves-light-blue
                                button.btn.btn-default.btn-circle.waves-effect.waves-light-blue.waves-circle.waves-float.pull-right(type='button')
                                    i.material-icons settings
                            li.list-group-item.clearfix
                                code waves-cyan
                                button.btn.btn-default.btn-circle.waves-effect.waves-cyan.waves-circle.waves-float.pull-right(type='button')
                                    i.material-icons trending_up
                            li.list-group-item.clearfix
                                code waves-teal
                                button.btn.btn-default.btn-circle.waves-effect.waves-teal.waves-circle.waves-float.pull-right(type='button')
                                    i.material-icons mic
                            li.list-group-item.clearfix
                                code waves-green
                                button.btn.btn-default.btn-circle.waves-effect.waves-green.waves-circle.waves-float.pull-right(type='button')
                                    i.material-icons forum
                            li.list-group-item.clearfix
                                code waves-light-green
                                button.btn.btn-default.btn-circle.waves-effect.waves-light-green.waves-circle.waves-float.pull-right(type='button')
                                    i.material-icons email
                            li.list-group-item.clearfix
                                code waves-lime
                                button.btn.btn-default.btn-circle.waves-effect.waves-lime.waves-circle.waves-float.pull-right(type='button')
                                    i.material-icons chat
                            li.list-group-item.clearfix
                                code waves-yellow
                                button.btn.btn-default.btn-circle.waves-effect.waves-yellow.waves-circle.waves-float.pull-right(type='button')
                                    i.material-icons vpn_key
                            li.list-group-item.clearfix
                                code waves-amber
                                button.btn.btn-default.btn-circle.waves-effect.waves-amber.waves-circle.waves-float.pull-right(type='button')
                                    i.material-icons content_cut
                            li.list-group-item.clearfix
                                code waves-orange
                                button.btn.btn-default.btn-circle.waves-effect.waves-orange.waves-circle.waves-float.pull-right(type='button')
                                    i.material-icons drafts
                            li.list-group-item.clearfix
                                code waves-deep-orange
                                button.btn.btn-default.btn-circle.waves-effect.waves-deep-orange.waves-circle.waves-float.pull-right(type='button')
                                    i.material-icons save
                            li.list-group-item.clearfix
                                code waves-brown
                                button.btn.btn-default.btn-circle.waves-effect.waves-brown.waves-circle.waves-float.pull-right(type='button')
                                    i.material-icons weekend
                            li.list-group-item.clearfix
                                code waves-grey
                                button.btn.btn-default.btn-circle.waves-effect.waves-grey.waves-circle.waves-float.pull-right(type='button')
                                    i.material-icons access_alarm
                            li.list-group-item.clearfix
                                code waves-blue-grey
                                button.btn.btn-default.btn-circle.waves-effect.waves-blue-grey.waves-circle.waves-float.pull-right(type='button')
                                    i.material-icons location_searching
                            li.list-group-item.clearfix
                                code waves-black
                                button.btn.btn-default.btn-circle.waves-effect.waves-black.waves-circle.waves-float.pull-right(type='button')
                                    i.material-icons publish
            // #END# Circle