extends ../../../layouts/master

block title
    | Colored Cards

block extra-css

block extra-js

block content
    .container-fluid
        .block-header
            h2 COLORED CARDS
        // Basic Example
        .row.clearfix
            .col-lg-4.col-md-4.col-sm-6.col-xs-12
                .card
                    .header.bg-red
                        h2
                            | Red - Title
                            small Description text here...
                        ul.header-dropdown.m-r--5
                            li.dropdown
                                a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                                    i.material-icons more_vert
                                ul.dropdown-menu.pull-right
                                    li
                                        a(href='javascript:void(0);') Action
                                    li
                                        a(href='javascript:void(0);') Another action
                                    li
                                        a(href='javascript:void(0);') Something else here
                    .body
                        | Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis neque volutpat, etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat. Ridiculus nostra.
            .col-lg-4.col-md-4.col-sm-6.col-xs-12
                .card
                    .header.bg-cyan
                        h2
                            | Cyan - Title
                            small Description text here...
                        ul.header-dropdown.m-r--5
                            li
                                a(href='javascript:void(0);')
                                    i.material-icons mic
                            li.dropdown
                                a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                                    i.material-icons more_vert
                                ul.dropdown-menu.pull-right
                                    li
                                        a(href='javascript:void(0);') Action
                                    li
                                        a(href='javascript:void(0);') Another action
                                    li
                                        a(href='javascript:void(0);') Something else here
                    .body
                        | Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis neque volutpat, etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat. Ridiculus nostra.
            .col-lg-4.col-md-4.col-sm-6.col-xs-12
                .card
                    .header.bg-green
                        h2
                            | Green - Title
                            small Description text here...
                        ul.header-dropdown.m-r-0
                            li
                                a(href='javascript:void(0);')
                                    i.material-icons info_outline
                            li
                                a(href='javascript:void(0);')
                                    i.material-icons help_outline
                    .body
                        | Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis neque volutpat, etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat. Ridiculus nostra.
        .row
            .col-lg-4.col-md-4.col-sm-6.col-xs-12
                .card
                    .header.bg-orange
                        h2
                            | Orange - Title
                            small Description text here...
                        ul.header-dropdown.m-r--5
                            li.dropdown
                                a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                                    i.material-icons more_vert
                                ul.dropdown-menu.pull-right
                                    li
                                        a(href='javascript:void(0);') Action
                                    li
                                        a(href='javascript:void(0);') Another action
                                    li
                                        a(href='javascript:void(0);') Something else here
                    .body
                        | Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis neque volutpat, etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat. Ridiculus nostra.
            .col-lg-4.col-md-4.col-sm-6.col-xs-12
                .card
                    .header.bg-blue-grey
                        h2
                            | Blue Grey - Title
                            small Description text here...
                        ul.header-dropdown.m-r--5
                            li
                                a(href='javascript:void(0);')
                                    i.material-icons mic
                            li.dropdown
                                a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                                    i.material-icons more_vert
                                ul.dropdown-menu.pull-right
                                    li
                                        a(href='javascript:void(0);') Action
                                    li
                                        a(href='javascript:void(0);') Another action
                                    li
                                        a(href='javascript:void(0);') Something else here
                    .body
                        | Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis neque volutpat, etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat. Ridiculus nostra.
            .col-lg-4.col-md-4.col-sm-6.col-xs-12
                .card
                    .header.bg-pink
                        h2
                            | Pink - Title
                            small Description text here...
                        ul.header-dropdown.m-r-0
                            li
                                a(href='javascript:void(0);')
                                    i.material-icons info_outline
                            li
                                a(href='javascript:void(0);')
                                    i.material-icons help_outline
                    .body
                        | Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis neque volutpat, etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat. Ridiculus nostra.
        // #END# Basic Example
        // Colored Card - With Loading
        .block-header
            h2
                | COLORED CARDS - WITH LOADING
                small
                    | Please click the refresh button right top of cards you want to activate loading. Taken from&nbsp;
                    a(href='https://github.com/vadimsva/waitMe' target='_blank') https://github.com/vadimsva/waitMe
        .row
            .col-lg-4.col-md-4.col-sm-6.col-xs-12
                .card
                    .header.bg-light-blue
                        h2
                            | Light Blue - Title
                            small Description text here...
                        ul.header-dropdown.m-r--5
                            li
                                a(href='javascript:void(0);' data-toggle='cardloading' data-loading-effect='timer' data-loading-color='lightBlue')
                                    i.material-icons loop
                            li.dropdown
                                a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                                    i.material-icons more_vert
                                ul.dropdown-menu.pull-right
                                    li
                                        a(href='javascript:void(0);') Action
                                    li
                                        a(href='javascript:void(0);') Another action
                                    li
                                        a(href='javascript:void(0);') Something else here
                    .body
                        | Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis neque volutpat, etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat. Ridiculus nostra.
            .col-lg-4.col-md-4.col-sm-6.col-xs-12
                .card
                    .header.bg-light-green
                        h2
                            | Light Green - Title
                            small Description text here...
                        ul.header-dropdown.m-r--5
                            li
                                a(href='javascript:void(0);' data-toggle='cardloading' data-loading-effect='rotation' data-loading-color='lightGreen')
                                    i.material-icons loop
                            li.dropdown
                                a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                                    i.material-icons more_vert
                                ul.dropdown-menu.pull-right
                                    li
                                        a(href='javascript:void(0);') Action
                                    li
                                        a(href='javascript:void(0);') Another action
                                    li
                                        a(href='javascript:void(0);') Something else here
                    .body
                        | Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis neque volutpat, etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat. Ridiculus nostra.
            .col-lg-4.col-md-4.col-sm-6.col-xs-12
                .card
                    .header.bg-amber
                        h2
                            | Amber - Title
                            small Description text here...
                        ul.header-dropdown.m-r--5
                            li
                                a(href='javascript:void(0);' data-toggle='cardloading' data-loading-effect='pulse' data-loading-color='amber')
                                    i.material-icons loop
                            li.dropdown
                                a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                                    i.material-icons more_vert
                                ul.dropdown-menu.pull-right
                                    li
                                        a(href='javascript:void(0);') Action
                                    li
                                        a(href='javascript:void(0);') Another action
                                    li
                                        a(href='javascript:void(0);') Something else here
                    .body
                        | Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis neque volutpat, etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat. Ridiculus nostra.
        // #END# Colored Card - With Loading
    