extends ../../layouts/master

block title
    | Chart JS

block extra-css

block extra-js
    script(type='text/javascript' src='/assets/plugins/chartjs/Chart.bundle.js')
    script(type='text/javascript' src='/assets/js/pages/charts/chartjs.js')

block content
    .container-fluid
        .block-header
            h2
                | ChartJS
                small
                    | Taken from&nbsp;
                    a(href='https://github.com/chartjs/Chart.js' target='_blank') github.com/chartjs/Chart.js
        .row.clearfix
            // Line Chart
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
                .card
                    .header
                        h2 LINE CHART
                        ul.header-dropdown.m-r--5
                            li.dropdown
                                a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                                    i.material-icons more_vert
                                ul.dropdown-menu.pull-right
                                    li
                                        a(href='javascript:void(0);') Action
                                    li
                                        a(href='javascript:void(0);') Another action
                                    li
                                        a(href='javascript:void(0);') Something else here
                    .body
                        canvas#line_chart(height='150')
            // #END# Line Chart
            // Bar Chart
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
                .card
                    .header
                        h2 BAR CHART
                        ul.header-dropdown.m-r--5
                            li.dropdown
                                a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                                    i.material-icons more_vert
                                ul.dropdown-menu.pull-right
                                    li
                                        a(href='javascript:void(0);') Action
                                    li
                                        a(href='javascript:void(0);') Another action
                                    li
                                        a(href='javascript:void(0);') Something else here
                    .body
                        canvas#bar_chart(height='150')
            // #END# Bar Chart
        .row.clearfix
            // Radar Chart
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
                .card
                    .header
                        h2 RADAR CHART
                        ul.header-dropdown.m-r--5
                            li.dropdown
                                a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                                    i.material-icons more_vert
                                ul.dropdown-menu.pull-right
                                    li
                                        a(href='javascript:void(0);') Action
                                    li
                                        a(href='javascript:void(0);') Another action
                                    li
                                        a(href='javascript:void(0);') Something else here
                    .body
                        canvas#radar_chart(height='150')
            // #END# Radar Chart
            // Pie Chart
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
                .card
                    .header
                        h2 PIE CHART
                        ul.header-dropdown.m-r--5
                            li.dropdown
                                a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                                    i.material-icons more_vert
                                ul.dropdown-menu.pull-right
                                    li
                                        a(href='javascript:void(0);') Action
                                    li
                                        a(href='javascript:void(0);') Another action
                                    li
                                        a(href='javascript:void(0);') Something else here
                    .body
                        canvas#pie_chart(height='150')
            // #END# Pie Chart