doctype html
head
    meta(charset='UTF-8')
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport')
    title Forgot Password | Bootstrap Based Admin Template - Material Design
    // Favicon
    link(rel='icon' href='/favicon.ico' type='image/x-icon')
    // Google Fonts
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet' type='text/css')
    // Bootstrap Core Css
    link(href='/assets/plugins/bootstrap/css/bootstrap.css' rel='stylesheet')
    // Waves Effect Css
    link(href='/assets/plugins/node-waves/waves.css' rel='stylesheet')
    // Animation Css
    link(href='/assets/plugins/animate-css/animate.css' rel='stylesheet')
    // Custom Css
    link(href='/assets/css/style.css' rel='stylesheet')
body.fp-page
.fp-box
    .logo
        a(href='javascript:void(0);')
            | Admin
            b BSB
        small Admin BootStrap Based - Material Design
    .card
        .body
            form#forgot_password(method='POST')
                .msg
                    | Enter your email address that you used to register. We&apos;ll send you an email with your username and a
                    | link to reset your password.
                .input-group
                    span.input-group-addon
                        i.material-icons email
                    .form-line
                        input.form-control(type='email' name='email' placeholder='Email' required='' autofocus='')
                button.btn.btn-block.btn-lg.bg-pink.waves-effect(type='submit') RESET MY PASSWORD
                .row.m-t-20.m-b--5.align-center
                    a(href='sign-in.html') Sign In!
// Jquery Core Js
script(src='/assets/plugins/jquery/jquery.min.js')
// Bootstrap Core Js
script(src='/assets/plugins/bootstrap/js/bootstrap.js')
// Waves Effect Plugin Js
script(src='/assets/plugins/node-waves/waves.js')
// Validation Plugin Js
script(src='/assets/plugins/jquery-validation/jquery.validate.js')
// Custom Js
script(src='/assets/js/admin.js')
script(src='/assets/js/pages/examples/forgot-password.js')